<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8288e271-6dab-4936-8688-26289f329103/resourcegroups/AzureWebApi/providers/Microsoft.Web/sites/AzureWebApi20260526072435</ResourceId>
    <ResourceGroup>AzureWebApi</ResourceGroup>
    <ApiResourceId>/subscriptions/8288e271-6dab-4936-8688-26289f329103/resourceGroups/AzureWebApi/providers/Microsoft.ApiManagement/service/AzureWebApitest/apis/AzureWebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurewebapi20260526072435-hhcsd7g7cpguh2cj.southindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>d984a6a8-2082-46f1-99a7-3e3d6cb54534</ProjectGuid>
    <PublishUrl>https://azurewebapi20260526072435-hhcsd7g7cpguh2cj.scm.southindia-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>